<footer class="footer">
   <div>
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitBay_logo">
        <span> &copy; GitBay 2025, Inc</span>
   </div>
</footer>